<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Robot Maze</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>

            body {
                background-color: black;
                color: red;
            }

        </style>

    </head>
    <body>
        
        <!-- flag's not here unfortunately :( -->
        
        <h1>Enjoy my not so mazy maze :)</h1>
        
    </body>
</html>   