<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>The Disapproving Cabinet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <form action="/check_pic" method="post" enctype="multipart/form-data">
            <div>
                <label>Upload recipe file here (.jpg accepted):</label>
                <input type="file" name="profile_pic" accept=".jpg"/> 
            </div>
            <div>
                <input type="submit" name="upload_btn" value="Upload"/>
            </div>
        </form>

    </body>
</html>